# .github/workflows/deploy.yaml

name: Deploy to Google Apps Script

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            # 1. 저장소 코드를 Action 워크스페이스로 pull.
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '20' # 원하는 'Node.js' 버전

            - name: Install clasp
              run: npm install -g @google/clasp

            - name: Create .clasprc.json
              run: |
                mkdir -p "$HOME"
                echo '${{ secrets.CLASPRC_JSON }}' > "$HOME/.clasprc.json"

            - name: Push to  Apss Script
              run: clasp push -f